:root {
    --primary-text: #000000;
    --light-text: #737373;
    --orange: #EB6500;
    --blue: #007398;
    --white:#FFFFFF;
    --red:#cb272a;
    --green:#27772A;
    --green-tick: #63A73B;
    --dis-bg: #EDEDED;
}